<ion-header translucent=true>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="paymentForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Card holder</ion-label>
        <ion-input formControlName="card_holder" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Card number</ion-label>
        <ion-input formControlName="card_number" type="text">
        </ion-input>
        <p *ngIf="cardMessage" class="error" padding>{{cardMessage}}</p>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col size="6">
          <ion-item>
              <ion-label position="floating">Expiration date</ion-label>
              <ion-datetime formControlName="card_expiration_date"  [min]="minDate"
                display-format="MM/YY" picker-format="MM/YY"  [max]="2050"
                monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des">
              </ion-datetime>
          </ion-item>
      </ion-col>
      <ion-col size="6">
          <ion-item>
              <ion-label position="floating">CVC</ion-label>
              <ion-input formControlName="card_cvc" type="text">
              </ion-input>
          </ion-item>
          <p *ngIf="paymentForm.controls['card_cvc'].errors && paymentForm.controls['card_cvc'].dirty"
          class="error" padding>CVC is not valid.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" type="submit" [disabled]="!paymentForm.valid" expand="block">Save payment card</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
