<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Restaurants
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" *ngIf="restaurants$ | async as restaurants">
  <ion-card *ngFor="let restaurant of restaurants">
    <img [src]="restaurant.image" />
    <div class="card-title">{{restaurant.name}}</div>
    <div class="card-subtitle">{{restaurant.subtitle}}</div>
    <div class="card-action">
      <ion-button class="details-btn" fill="solid" size="small" [routerLink]="['details/', restaurant.id]">
          <ion-icon slot="end" name="arrow-dropright-circle"></ion-icon>
          Details
      </ion-button>
    </div>
  </ion-card>
</ion-content>