<ion-content>
    <ion-tabs #tabs (ionTabsDidChange)="getSelectedTab()">

        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="restaurants-list">
            <ion-icon name="pizza"></ion-icon>
            <ion-label>Restaurants</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="online-order">
            <ion-icon name="globe"></ion-icon>
            <ion-label>Online Order</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="order-status">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>Order Status</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    <div class="scan-container" *ngIf="currentTab === 'restaurants-list'">
        <ion-button class="suggestion-btn" size="small" fill="solid">
              <ion-icon slot="end" src="./../../assets/arrow-suggestion.svg"></ion-icon>
              Scan menu
          </ion-button>
          <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
              <ion-fab-button color="secondary" (click)="performScan()">
                <ion-icon name="qr-scanner"></ion-icon>
              </ion-fab-button>
            </ion-fab>
      </div>
</ion-content>
