<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Your Order
      <div class="total-order"> TOTAL: {{ total | currency }}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let order of orderList; let index = index;">
      <ion-item>
        <div class="item-avatar-container">
            <ion-avatar item-start>
                <img [src]="order.image">
              </ion-avatar>
              <p [ngStyle]="{'color':order.status === 'pending' ? '#FFFF4C' : 'green' }">{{order.status}}</p>
        </div>
        <div class="item-name">
          <p>{{order.name}}</p>
        </div>
        <div class="item-price">
          <p>Price</p>
          <p>{{ order.price | currency }}</p>
        </div>
        <div class="item-quantity">
            <p>Quantity</p>
            <div>
                <ion-icon name="add-circle-outline" (click)="incrementQuantity(order)"></ion-icon>
                {{order.cantitate}}
              <ion-icon name="remove-circle-outline" (click)="decrementQuantity(order)"></ion-icon>
            </div>
        </div>
      </ion-item>
      <ion-item-options>
        <ion-button class="btn-more" color="light" size="large" icon-start>
          <ion-icon name="ios-more"></ion-icon>
          More
        </ion-button>
        <ion-button color="danger" [disabled]="order.status === 'done'"
         (click)="removeProduct(index)" size="large" icon-start>
         <ion-icon name="trash"></ion-icon>
          Remove
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
