<div class="auth-container">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
            <ion-button fill="clear" (click)="singIn('GMAIL')" size="large">
            <ion-icon slot="icon-only"  src="./../../assets/google-plus.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
          <ion-button fill="clear" (click)="singIn('FACEBOOK')" size="large">
              <ion-icon slot="icon-only"  src="./../../assets/facebook.svg"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col>
          <ion-button fill="clear" color="dark" (click)="singIn('CUSTOM')" size="large">
              <ion-icon slot="icon-only"  name="mail"></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="align-items-center">
      <ion-col>
        <p>or you can still <a [routerLink]="['/tabs']"> use without account</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>