<ion-app>
  <ion-split-pane>
    <ion-menu side="end" max-edge-start="50">
      <ion-header>
        <ion-title> Menu </ion-title>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle *ngFor="let page of appPages">
            <ion-item [routerLink]="page.url" [routerDirection]="'root'">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>{{page.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-chip>
          <ion-avatar>
            <img [src]="authService.currentUserValue?.imageUrl">
          </ion-avatar>
          <ion-label>{{authService.currentUserValue?.name}}</ion-label>
        </ion-chip>
        <ion-button (click)="authService.logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
