ion-content {
    --background: url('../../../assets/login-wallpaper.jpg') no-repeat center center / cover;
    --background-size:cover;

    ion-card {
        margin: 0;

        img {
            max-height: 25vh;
        }

        ion-grid {
            ion-row:first-child {
                ion-col{
                    padding: 0
                } 
            }
           ion-row:nth-child(2) {
            background:rgba(255,255,255, 0.8);
            ion-col {
                padding: 0;
            }
           }
        }
        .product-name {
            font-size: 15px;
            color:black;
        }

        .product-price {
            color: var(--ion-color-primary);
        }
    }
}