ion-header {
    ion-toolbar {
        --background-color: transparent;
        --ion-color-base: transparent !important;
    }

    ion-searchbar {
        --color: white;
        --icon-color: white;
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
      }
}

ion-content {
    --background: url('../../../assets/login-wallpaper.jpg') no-repeat center center / cover;
    --background-size: cover;
   position: fixed;

    .product-col {
        max-height: 25vh;
    }
    ion-card {
        margin: 0;

        img {
            max-width: 100%;
            height: auto;
            width: auto\9; /* ie8 */
        }

        .product-details-row {
            background: rgba(255, 255, 255, 0.8);
            border-radius: 5%;

            .product-name-container {
                margin: auto;
            }
        }

        ion-grid {
            ion-row:first-child {
                ion-col {
                    padding: 0
                }
            }
        }

        .product-name {
            font-size: 15px;
            color: black;
        }

        .product-price {
            color: var(--ion-color-primary);
        }
    }
}