.welcome-page {
  ion-slide {
    flex-direction: column;
  }
  ion-slide:first-child {
     img {
      max-height: 50%;
      max-width: 100%;
      margin: 0;
     }
     p {
       font-size: 14px;
       color: grey;
     }
  }

  ion-slide:nth-child(3) > img {
    width: 80%;
  }

  .language-container {
    display: flex;
    margin: auto;
    margin-top: 10%;
    align-items: center;
    justify-content: center;

    button {
      background: transparent;
      img {
        width: 25%;
        border: 2px solid white;
        border-radius: 50%;
      }
    }
  }

  @keyframes text {
    0% {
      color: black;
      margin-bottom: -40px;
    }
    30% {
      letter-spacing: 25px;
      margin-bottom: -40px;
    }
    85% {
      letter-spacing: 8px;
      margin-bottom: -40px;
    }
  }

  .try-button {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% {
      background-color: var(--ion-color-secondary);
      -webkit-box-shadow: 0 0 3px var(--ion-color-secondary);
    }
    50% {
      background-color: var(--ion-color-secondary-shade);
      -webkit-box-shadow: 0 0 40px var(--ion-color-secondary-shade);
    }
    100% {
      background-color: var(--ion-color-secondary);
      -webkit-box-shadow: 0 0 3px var(--ion-color-secondary);
    }
  }

  @-moz-keyframes glowing {
    0% {
      background-color: var(--ion-color-secondary);
      -moz-box-shadow: 0 0 3px var(--ion-color-secondary);
    }
    50% {
      background-color: var(--ion-color-secondary-shade);
      -moz-box-shadow: 0 0 40px var(--ion-color-secondary-shade);
    }
    100% {
      background-color: var(--ion-color-secondary);
      -moz-box-shadow: 0 0 3px var(--ion-color-secondary);
    }
  }

  @-o-keyframes glowing {
    0% {
      background-color: var(--ion-color-secondary);
      box-shadow: 0 0 3px var(--ion-color-secondary);
    }
    50% {
      background-color: var(--ion-color-secondary-shade);
      box-shadow: 0 0 40px var(--ion-color-secondary-shade);
    }
    100% {
      background-color: var(--ion-color-secondary);
      box-shadow: 0 0 3px var(--ion-color-secondary);
    }
  }

  @keyframes glowing {
    0% {
      background-color: var(--ion-color-secondary);
      box-shadow: 0 0 3px var(--ion-color-secondary);
    }
    50% {
      background-color: var(--ion-color-secondary-shade);
      box-shadow: 0 0 40px var(--ion-color-secondary-shade);
    }
    100% {
      background-color: var(--ion-color-secondary);
      box-shadow: 0 0 3px var(--ion-color-secondary);
    }
  }
}