.welcome-page {  
  .swiper-slide {
    display: block;
  }

  ion-slide:first-child > img {
    width: 280px;
    max-height: 50%;
    max-width: 100%;
    margin: 0;
  }

  ion-slide:nth-child(3) > img {
    width: 80%;
  }

  .language-container {
    display: flex;
    margin: auto;
    margin-top: 10%;
    align-items: center;
    justify-content: center;

    button {
      background: transparent;
      img {
        width: 25%;
        border: 2px solid white;
        border-radius: 50%;
      }
    }
  }

  .welcome-message {
    text-align: center;
    width: 100%;
    height: 125px;
  }

  .welcome-message span {
    text-transform: uppercase;
    display: block;
  }
  .text2 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: transparent;
    position: relative;
    animation: text 10s 1;
    text-shadow: 5px 3px 16px black;
  }
  .text1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-shadow: 5px 3px 16px black;
  }

  @keyframes text {
    0% {
      color: black;
      margin-bottom: -40px;
    }
    30% {
      letter-spacing: 25px;
      margin-bottom: -40px;
    }
    85% {
      letter-spacing: 8px;
      margin-bottom: -40px;
    }
  }

  .try-button {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% {
      background-color: var(--ion-color-secondary);
      -webkit-box-shadow: 0 0 3px var(--ion-color-secondary);
    }
    50% {
      background-color: var(--ion-color-secondary-shade);
      -webkit-box-shadow: 0 0 40px var(--ion-color-secondary-shade);
    }
    100% {
      background-color: var(--ion-color-secondary);
      -webkit-box-shadow: 0 0 3px var(--ion-color-secondary);
    }
  }

  @-moz-keyframes glowing {
    0% {
      background-color: var(--ion-color-secondary);
      -moz-box-shadow: 0 0 3px var(--ion-color-secondary);
    }
    50% {
      background-color: var(--ion-color-secondary-shade);
      -moz-box-shadow: 0 0 40px var(--ion-color-secondary-shade);
    }
    100% {
      background-color: var(--ion-color-secondary);
      -moz-box-shadow: 0 0 3px var(--ion-color-secondary);
    }
  }

  @-o-keyframes glowing {
    0% {
      background-color: var(--ion-color-secondary);
      box-shadow: 0 0 3px var(--ion-color-secondary);
    }
    50% {
      background-color: var(--ion-color-secondary-shade);
      box-shadow: 0 0 40px var(--ion-color-secondary-shade);
    }
    100% {
      background-color: var(--ion-color-secondary);
      box-shadow: 0 0 3px var(--ion-color-secondary);
    }
  }

  @keyframes glowing {
    0% {
      background-color: var(--ion-color-secondary);
      box-shadow: 0 0 3px var(--ion-color-secondary);
    }
    50% {
      background-color: var(--ion-color-secondary-shade);
      box-shadow: 0 0 40px var(--ion-color-secondary-shade);
    }
    100% {
      background-color: var(--ion-color-secondary);
      box-shadow: 0 0 3px var(--ion-color-secondary);
    }
  }
}