ion-header {
    ion-toolbar {
        --background-color: transparent;
        --ion-color-base: transparent !important;
      }
}

ion-content {
    --background: url('../../assets/login-wallpaper.jpg') no-repeat center center / cover;
    --background-size:cover;

    .card-details {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}