<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Menus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="menus-page">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let menu of restaurantMenus" size="6">
          <ion-card>
              <img [src]="menu.image"/>
              <div class="card-title">
                <p>{{menu.name}}</p>
                </div>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
