@mixin item-flex {
    flex-basis: 20%;
    font-size: 14px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

ion-header {
    .payment-btn-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        ion-icon {
            font-size: 25px;
        }
        p {
            font-size: 8px;
            margin: 0 0 3px 0;
        }
    }

    ion-searchbar {
        // --background: rgba(black, 0.6);
        --color: white;
        --icon-color: white;
    }

    ion-toolbar {
        --background-color: transparent;
        --ion-color-base: transparent !important;
      }

      .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
      }
}

.order-page-content {
    // --background: url('../../assets/login-wallpaper.jpg') no-repeat center center / cover;
    // --background-size:cover;
    position: fixed;

    ion-list {
        background: rgba(black, 0.7);
        color:white;
        padding-top: 30%;
    }
    ion-item {
        color: white;
        .item-avatar-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            ion-avatar {
                border: 2px solid var(--ion-color-dark);
            }

            p {
                margin: 5px 0 0 0;
                font-size: 10px;
                padding: 2px;
                background-color: gainsboro;
            }
        }

        .item-name {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            p {
                margin: 2px 0;
            }
        }

        .item-price {
            text-align: center;
            p {
                font-size:12px;
                margin: 2px 0;
            }
        }

        div.item-name~div {
            @include item-flex;
        }

        .item-quantity {
            text-align: center;
            height: 100%;
            p {
                font-size: 12px;
                margin: 2px 0;
            }

            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            ion-icon {
                font-size: 18px;
                padding: 2px;
            }
        }
    }

    .total-order {
        position: sticky;
        top: 20%;
        left: 50%;
    }
}
